########## 系统 ##########
.DS_Store
Thumbs.db
desktop.ini

########## Node / npm / yarn / pnpm ##########
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
*.tgz
package-lock.json
yarn.lock
pnpm-lock.yaml        # 如果团队统一用 pnpm，可以保留

########## 构建产物 ##########
dist/
build/
lib/
esm/
out/
.next/                # Next.js
.nuxt/                # Nuxt
.output/              # VitePress / Nuxt3
.unnecessary/         # 某些脚手架的临时目录
*.tsbuildinfo         # TypeScript 增量编译缓存

########## 本地调试 / 环境 ##########
.env.local
.env.*.local
.eslintcache
.prettiercache
.cache/
.parcel-cache/
.vite/
*.log
logs/
coverage/
.nyc_output/

########## IDE / 编辑器 ##########
.vscode/settings.json           # 如果团队统一配置可保留
.idea/
*.swp
*.swo
*~

########## 测试 ##########
/coverage
*.lcov
.nyc_output

########## 临时文件 ##########
*.tmp
*.temp
*.pid
*.seed
*.pid.lock

########## 小程序 ##########
miniprogram_npm/
project.private.config.json

########## Monorepo ##########
lerna-debug.log
.husky/_
turbo-build.log